<div class="menu_c cart_menu">
  <div class="menu_title">
    <h4>{{ 'cart.general.title' | t }}</h4>
    <div class="cart_row_heading{% if cart.item_count == 0 %} hidden{% endif %}" >
      <ul>
        <li>{{ 'cart.general.name' | t }}</li>
        <li class="photo-column-header">{{ 'cart.general.photo' | t }}</li>
        <li>{{ 'cart.general.price' | t }}</li>
        <li>{{ 'cart.general.quantity' | t }}</li>
        <li>{{ 'cart.general.total' | t }}</li>
      </ul>
    </div>
  </div>
  {% if cart.item_count > 0 %}
  <form action="/cart" method="post" novalidate>
    <div class="cart_row">
      <!-- Hide the cart body header row with css instead of removing the html because removing the html breaks the cart js -->
      <ul class="hidden">
        <li>{{ 'cart.general.name' | t }}</li>
        <li class="photo-column-header">{{ 'cart.general.photo' | t }}</li>
        <li>{{ 'cart.general.price' | t }}</li>
        <li>{{ 'cart.general.quantity' | t }}</li>
        <li>{{ 'cart.general.total' | t }}</li>
      </ul>
      {% for item in cart.items %}
      <ul class="productRow">
        <li class="productRowImg">
          <div class="product-image-container">
            <a href="{{ item.url }}" class="product-image-link">  
              <img src="{{ item | img_url: '300x' }}" alt="{{ item.title | escape }}" />
            </a>
          </div>
        </li>
        <li class="productRowTitle">
          <h5 class="{{ item.id }}"><a href="{{ item.product.url | within: collections.all }}" class="item-name">{{ item.product.title | escape}}</a></h5>
          {% if item.product.variants.size != 0 %}
          {% unless item.variant.title contains 'Default' %}
          <p>{{ item.variant.title | escape }}</p>
          {% endunless %}
          {% endif %}

          {%- assign property_size = item.properties | size -%}    
                        
          {% if property_size > 0 %}                  
          <p>
            {% for p in item.properties %}
            {% unless p.last == blank %}
            {{ p.first }}:

            {% if p.last contains '/uploads/' %}
            <a href="{{ p.last }}">{{ p.last | split: '/' | last }}</a>
            {% else %}
            {{ p.last }}
            {% endif %}

            <br>
            {% endunless %}
            {% endfor %}
          </p>
          {% endif %}

          <!-- <a href="#" data-id="{{ item.id }}" class="remove_item_button">{{ 'cart.general.remove' | t }}</a> -->
        </li>
        <li class="productRowPrice">
          <p class="mobile-label-price">{{ 'cart.general.price' | t }}</p>

          {% if item.original_price != item.final_price %}
          <span class="price money original_price">{{ item.original_price | money }}</span><br>
          <span class="price money">{{ item.final_price | money }}</span><br>
          {% else %}
          <span class="price money">{{ item.final_line_price | money }}</span>
          {% endif %}

          {%- if item.line_level_discount_allocations != blank -%}
          <div class="order-discount--list">
            {%- for discount_allocation in item.line_level_discount_allocations -%}
            <span class="order-discount__item">
              {%- include 'icon-saletag' -%}{{ discount_allocation.discount_application.title }} (-{{ discount_allocation.amount | money }})
            </span>
            {%- endfor -%}
          </div>
          {%- endif -%}
        </li>
        <li class="productRowQty">
          <p class="mobile-label-quantity">{{ 'cart.general.quantity' | t }}</p>
          <a class="minus_btn"></a>
          <input type="text" id="updates_{{ item.id }}" name="updates[]" class="txtbox number_val_input" value="{{ item.quantity }}" min="0" data-id="{{ item.id }}"/>
          <a class="plus_btn"></a>
          <div class="ajaxcart__errors error-popup ajaxcart__item__{{ item.id }}__errors">
            {{ 'cart.general.error' | t }}
          </div>
        </li>
        <li class="productRowTotal">
          <p class="mobile-label-total">{{ 'cart.general.total' | t }}</p>
          
          {%- if item.original_line_price != item.final_line_price -%}
          <span class="price money original_price">{{ item.original_line_price | money }}</span><br>
          <span class="price money">{{ item.final_line_price | money }}</span><br>
          {% else %}
          <span class="price money">{{ item.original_line_price | money }}</span>
          {% endif %}
        </li>
      </ul>
      {% endfor %}
    </div>
    {% if settings.cart_notes %}
    <div class="order_notes">
      <label for="cartSpecialInstructions" class="sr-only">{{ 'cart.general.note' | t }}:</label>
      <textarea name="note" id="cartSpecialInstructions" placeholder="{{ 'cart.general.note' | t }}">{% if cart.note != null %}{{cart.note}}{% endif %}</textarea>
    </div>
    {% endif %}
    {% if settings.show_currency_disclaimer %}
    {{ 'cart.general.currency_disclaimer_html' | t: shopname: shop.name, currency: shop.currency }}
    {% endif %}
    <div class="checkout_row">
      
      <div class="total_row">
        <ul>
          <li>
            {%- if cart.cart_level_discount_applications != blank -%}
            <div class="order-discount-cart-wrapper">
              {%- for discount_application in cart.cart_level_discount_applications -%}
              <span class="order-discount--cart total_val">
                {%- include 'icon-saletag' -%} {{- discount_application.title | strip -}}:
              </span>
              <span class="order-discount--cart-total">(-{{ discount_application.total_allocated_amount | money }})</span>
              {%- endfor -%}
            </div>
            {%- endif -%}
            
            <span class="total_val">{{ 'cart.general.subtotal' | t }}:</span><span class="total-price money">{{ cart.total_price | money }}</span>
          </li>
        </ul>
      </div>

        {% if settings.enable_terms_and_conditions %}
      <div class='terms_and_conditions_wrapper'>
        <input type="checkbox" id="agree" />                      
        <div class='for_agree_text'>
          {{settings.terms_and_conditions_text}}
        </div>  
        <div class='error_text'>
         {{ 'cart.general.terms_and_conditions_error' | t }}
        </div>  
      </div>
      {% endif %}
      {% if template == 'cart' %}
      <button type="submit" name="checkout" value="{{ 'cart.general.checkout' | t }}" class="btn_c">{{ 'cart.general.checkout' | t }}</button>
      {%endif%}
      <a href="/cart" class="btn_c floatCCartBtn">Continue to Checkout</a>
      <a href="javascript:void(0)" class="info_btn"><span class="fa fa-chevron-left"></span>{{ 'cart.general.continue_browsing' | t }}</a>
    </div>
    <div id="additional-checkout-block" class="text-right additional-checkout-buttons">
    </div>
 </form>
  {% else %}
  <div class="cart_row">
    <div class="empty-cart">{{ 'cart.general.empty' | t }}</div>
    <p><a href="javascript:void(0)" class="btn_c btn_close">{{ 'cart.general.continue_browsing' | t }}</a></p>
  </div>
  {% endif %}
</div>
<script>
  {% if settings.show_currency_disclaimer and settings.show_multiple_currencies %}
  	var currencyNoteCompiled = '{{ 'cart.general.currency_disclaimer_html' | t: shopname: shop.name, currency: shop.currency }}';
  {% endif %}
</script>