{% assign bulk_deals = false %}
{% if product.tags contains 'bulk_deals' %}
  {% assign bulk_deals = true %}
{% endif %}

{% assign staff_pick = false %}
{% if product.tags contains 'staff_pick' %}
  {% assign staff_pick = true %}
{% endif %}

{% assign colors_available = false %}
{%  if product.variants.size > 1 %}
  {% assign colors_available = true %}
{% endif %}

{% assign max_img_width = product.featured_image.width | append: "px" %}


{% if settings.align_height %} 
  {% assign max_img_height = settings.collection_height %}
  {% assign product_img_width = product.featured_image.width %}
  {% assign product_img_height = product.featured_image.height %}
  {% assign product_img_ratio = product.featured_image.aspect_ratio %}
		{% if max_img_height < product_img_height %}
		{% assign max_img_width = max_img_height | times: product_img_ratio | append:"px"%}
        {% else %}
		{% assign max_img_width = product_img_height | times: product_img_ratio | append:"px"%}
		{% endif %}
{% endif %}


<div class="main_box{% if section.settings.collection_overlay %} quick-view-overlay {% endif %}">
  <form method="post" action="/cart/add" class="add-to-cart-form">
  <div>
    <div class="box_1">
      
      <div class="price card-price{% if product.selected_or_first_available_variant.price < product.selected_or_first_available_variant.compare_at_price %} on-sale{% endif %}">
        {% if product.selected_or_first_available_variant.price < product.selected_or_first_available_variant.compare_at_price %}
        <div class="money compare-price">
          {{ product.selected_or_first_available_variant.compare_at_price | money }}
        </div>
        {% endif %}
        {% unless product.price_max == 0 and settings.custom_price0_text != blank %}
          {% if product.price_varies %}
            {{ 'products.product.price_from' | t }}
          {% endif %} 
          
          <span class="money{% if product.selected_or_first_available_variant.price < product.selected_or_first_available_variant.compare_at_price %} sale-price{% endif %}">{{ product.price | money }}</span>

          {% if on_sale %}
          <span class="compare-price money">{{ product.price | money }}</span>
          {% endif %}
        {% else %}
          <span>{{settings.custom_price0_text }}</span> 
        {% endunless %}	
      </div>
      {% if bulk_deals %}
      <div class="bulkDeals"><i class="fa fa-dollar-sign"></i> Bulk Deals</div>
      {% endif %}
      {% if staff_pick %}
      <div class="staffPick"><i class="fa fa-star"></i> Staff Pick</div>
      {% endif %}
      
      <div class="variations">

        {% unless product.options.size == 1 and product.variants[0].title contains 'Default' %}
          {% for option in product.options_with_values %}
            <div class="selector-wrapper recommended-product-select">
              <label {% if option.name == 'default' %}class="hidden" {% endif %} for="product-select-{{ option.name }}">
                  {{ option.name }}
              </label>
              <select class="single-option-selector SingleOptionSelector-{{ forloop.index0 }}">
                {% for value in option.values %}
                  <option data-value={{value}} {% if option.selected_value == value %}selected{% endif %}>{{value}}</option>
                {% endfor %}
              </select>
            </div>  
          {% endfor %}
        {% endunless %}
      
        <select name="id" id="product-select-{{ product.id }}" class="product-variants form-control hidden">
          {% for variant in product.variants %}
          {% if variant.available %}
          <option 
            {% if section.settings.show_product_quantity %} 
            data-inventory_management="{{variant.inventory_management}}" 
            data-inventory_policy="{{variant.inventory_policy}}"
            data-inventory_quantity="{{variant.inventory_quantity}}"
            {% endif %}       
            {% if variant == product.selected_or_first_available_variant %} selected {% endif %} data-sku="{{ variant.sku }}" data-options="{{ variant.options }}" value="{{ variant.id }}">{{ variant.title | escape }} - {{ variant.price | money_with_currency }}</option>
          {% else %}
          <option 
            {% if section.settings.show_product_quantity %} 
            data-inventory_management="{{variant.inventory_management}}" 
            data-inventory_policy="{{variant.inventory_policy}}"
            data-inventory_quantity="{{variant.inventory_quantity}}"
            {% endif %}                           
            disabled="disabled"
            value="{{ variant.id }}">
            
            {{ variant.title | escape }} - {{ 'products.product.sold_out' | t }}
          </option>
          {% endif %}
          {% endfor %}
        </select>
      
        <div class="swatch-container">
          {% if product.variants.size > 1 %}
            {% for option in product.options %}
            {% include 'swatch' with option %}
            {% endfor %}
          {% endif %}
        </div>
      </div>

      <div class="product-image-container fakea" href="{{ product.url | within: collection }}">

        {% assign hasVideo = false %}
      
        {% for media in product.media %}
          {% if media.media_type == 'external_video' %}
          {% assign hasVideo = true %}
          
          <div data-thumb="{{ media | img_url: '150x' }}" data-title="{{ product.title | escape }}" class="video_slide hidden">
            {% assign video = media.alt | split: 'src="' %}
            {% assign video = video[1] | split: '"' | first %}
            <div class="video-container {% if media.alt contains 'vimeo' %}vimeo{% else %}youtube{% endif %}">
              <div class="media" data-media-id="{{ media.id }}">
                <div class="video-close"><i class="fas fa-times"></i></div>
                {{ media | external_video_tag }}
              </div>
            </div>
          </div>
          {% endif %}

        {% endfor %}

        {% if hasVideo == true %}
          <div class="play-video"><i class="fas fa-play"></i>  Video</div>
        {% endif %}
        <div class="spinner-cube">
          <div class="loadFacebookG"></div>
        </div>
        <a href="{{ product.url | within: collection }}" class="product-image-link">
          <noscript>
            <img
              srcset="{{ product.featured_image.src | product_img_url: img_size}} 1x, {{ product.featured_image.src | product_img_url: img_size, scale: 2}} 2x, {{ product.featured_image.src | product_img_url: img_size, scale: 3}} 3x"
              alt="{{ product.featured_image.alt | escape }}">
          </noscript>
          {% assign img_url = product.featured_image.src | img_url: '1x1' | replace: '_1x1.', '_{width}x.' %}
          <img class="lazyload" src="{{ product.featured_image.src | img_url: "300x"}}"
            data-srcset="{{ product.featured_image.src | product_img_url: img_size}} 1x, {{ product.featured_image.src | product_img_url: img_size, scale: 2}} 2x, {{ product.featured_image.src | product_img_url: img_size, scale: 3}} 3x"
            alt="{{ product.featured_image.alt | escape }}" style="max-width: {{max_img_width}}" />
        </a>

        {% if section.settings.collection_overlay %}
          <div class="overlay">
            {% include 'product-quick-view-btn' qvp:product %}
          </div>
        {% endif %}
      </div>

    </div>
    <div class="desc">
      <h5>
        <a href="{{ product.url | within: collection }}">{{ product.title | escape }}</a>
        <span class="product-data" data-product-id="{{ product.id }}" data-product-url="{{ product.url }}" data-product-price="{{ product.price }}"></span>
      </h5>
      {% if section.settings.show_grid_type %}
      <p>{{ product.type }}</p>
      {% endif %}

          {% if product.tags contains 'video_available' %}
          <span class="productVideoIcon"><a class="popup-youtube" href="{{ product.metafields.custom_fields["youtube_embed_code"] }}"><img src="{{ 'video-icon2.png' | asset_url }}"> View Video</a></span>
          {% endif %}
            
      {% if section.settings.show_product_reviews_stars %}
        <span class="shopify-product-reviews-badge min_height_22" data-id="{{ product.id }}"></span>
          <div class="clearfix"></div> 	
      {% endif %}

    </div>
  </div>
  <div class="proListAddToCart">
      <input name="add" value="{{ 'products.product.add_to_cart' | t }}" type="submit"  class="proListAddToCartBtn"/>
  </div>
</form>
</div>

