


{% if item.object_type == 'product' %}
  <form method="post" action="/cart/add" class="add-to-cart-form product-container">
    <input type="hidden" name="id" value="{{ item.variants.first.id }}" />

    <div class="product-gallery-container">

      {% assign hasVideo = false %}
      
      {% for media in item.media %}

        {% if media.media_type == 'external_video' %}
        {% assign hasVideo = true %}
        <div data-thumb="{{ media | img_url: '150x' }}" data-title="{{ item.title | escape }}" class="video_slide">
          {% assign video = media.alt | split: 'src="' %}
          {% assign video = video[1] | split: '"' | first %}
          <div class="video-container {% if media.alt contains 'vimeo' %}vimeo{% else %}youtube{% endif %}">
            <div class="media" data-media-id="{{ media.id }}">{{ media | external_video_tag }}</div>
          </div>
        </div>
        {% endif %}

      {% endfor %}

      {% if hasVideo == false %}
        <div class="spinner-cube">
          <div class="loadFacebookG"></div>
        </div>
        <a href="{{ item.url | within: collection }}" class="product-image-link">
          <noscript>
            <img
              srcset="{{ item.featured_image.src | product_img_url: img_size}} 1x, {{ item.featured_image.src | product_img_url: img_size, scale: 2}} 2x, {{ item.featured_image.src | product_img_url: img_size, scale: 3}} 3x"
              alt="{{ item.featured_image.alt | escape }}">
          </noscript>
          {% assign img_url = item.featured_image.src | img_url: '1x1' | replace: '_1x1.', '_{width}x.' %}
          <img class="lazyload" src="{{ item.featured_image.src | img_url: "300x"}}"
            data-srcset="{{ item.featured_image.src | product_img_url: img_size}} 1x, {{ item.featured_image.src | product_img_url: img_size, scale: 2}} 2x, {{ item.featured_image.src | product_img_url: img_size, scale: 3}} 3x"
            alt="{{ item.featured_image.alt | escape }}" style="max-width: {{max_img_width}}" />
        </a>
      {% endif %}
      
    </div>
    
    <div class="product-details">
      <div class="product-title-inventory">
        <h3><a href="{{ item.url }}">{{ item.title | escape }}</a></h5>

        <div class="prod_sku_container">
          {% if section.settings.show_product_quantity %}
          <div class="prod_sku_vend">
            {% if section.settings.show_product_quantity %}
            <div id="variant-inventory">
            </div>
            {% endif %}
          </div>
          {% endif %}
        
          {% if section.settings.product_reviews %}
          <div class="shopify-product-reviews">
            {{item.reviews_count}}
            <span class="shopify-product-reviews-badge" data-id="{{ item.id }}"></span>
          </div>
          {% endif %}
        </div>
      </div>

      <div class="product-sku">
        <div class="variant-sku">{{'products.general.product_sku' | t }}: {{ item.variants[0].sku }}</div>
      </div>

      <div class="product-price-qty">
        <div class="price{% if section.settings.show_smart_checkout %} smart_checkout_price_pos {% endif %}">
          {% if item.selected_or_first_available_variant.price < item.selected_or_first_available_variant.compare_at_price %}
          <div class="compare-price" class="money">
            {{ item.selected_or_first_available_variant.compare_at_price | money }}
          </div>
          {% endif %}

          {% unless item.price_max == 0 and settings.custom_price0_text != blank %} 
          {% if item.price_varies %}{{ 'products.product.price_from' | t }}{% endif %} 
            <span class="product-price" class="money">
              {{ item.selected_or_first_available_variant.price | money }} 
            </span> 
          {% else %}  
          <span>
            {{settings.custom_price0_text }}
          </span>                    
          {% endunless %}
        </div>

        <div class="qty product-page-qty">
          {% unless item.price_max == 0 and settings.hide_price0_box_and_button %} <span class="productPGQtyLable">Quantity</span><a class="minus_btn" ></a>
            <input type="text" name="quantity" class="txtbox" value="1" min="1">
            <a class="plus_btn" ></a>
          {% endunless %}

          <div class="maximum-in-stock-error error-popup">{{ 'products.product.maximum_quantity_error' | t }}</div>
        </div>
      </div>


    </div>
    <div class="product-description">
      <p class="product-desc">{{ item.content | truncatewords:30 }}</p>
  
      {% unless product.price_max == 0 and settings.hide_price0_box_and_button %} 
        {% if item.available and item.variants.size == 1 %}
        <input type="submit" name="add" class="btn_c" value="{{ 'products.product.add_to_cart' | t }}">
        {% else %}
        <a href="{{ item.url | within: collection }}"
          class="btn_c more_btn">{{ 'products.product.select_options' | t }}</a>
        {% endif %}
      {% endunless %}
    </div>
  </form>
{% endif %}
{% if settings.show_collection_overlay and settings.collection_overlay == 'quick-view' %}
{% include 'product-quick-view' qvp:item %}
{% endif %}