
<div class="mb20">
  <div
    class="main_box">
    {% if item.object_type == 'product' %}
    <div class="box_1">
      {% if on_sale %}
      <div class="on-sale">{{ 'products.product.sale' | t }}</div>
      {% endif %}
      {% if sold_out %}
      <div class="sold-out">{{ 'products.product.sold_out' | t }}</div>
      {% endif %}

      <div class="product-image">
        <div class="spinner-cube">
          <div class="loadFacebookG"></div>
        </div>
        <a href="{{ item.url | within: collection }}" class="product-image-link">
          <noscript>
            <img
              srcset="{{ item.featured_image.src | product_img_url: img_size}} 1x, {{ item.featured_image.src | product_img_url: img_size, scale: 2}} 2x, {{ item.featured_image.src | product_img_url: img_size, scale: 3}} 3x"
              alt="{{ item.featured_image.alt | escape }}">
          </noscript>
          {% assign img_url = item.featured_image.src | img_url: '1x1' | replace: '_1x1.', '_{width}x.' %}
          <img class="lazyload" src="{{ item.featured_image.src | img_url: "300x"}}"
            data-srcset="{{ item.featured_image.src | product_img_url: img_size}} 1x, {{ item.featured_image.src | product_img_url: img_size, scale: 2}} 2x, {{ item.featured_image.src | product_img_url: img_size, scale: 3}} 3x"
            alt="{{ item.featured_image.alt | escape }}" style="max-width: {{max_img_width}}" />
        </a>
      </div>
    </div>
    {% if settings.show_collection_overlay and settings.collection_overlay == 'cart-info' %}
    <form method="post" action="/cart/add">
      <input type="hidden" name="id" value="{{ item.variants.first.id }}" />
      <div class="overlay hidden-sm hidden-xs">
        {% if item.available and item.variants.size == 1 %}
        <input type="submit" value="{{ 'products.product.add_to_cart' | t }}" class="btn_c cart_btn_1" />
        <a href="{{ item.url | within: collection }}" class="info_btn">{{ 'products.product.more_info' | t }}</a>
        {% else %}
        <a href="{{ item.url | within: collection }}"
          class="btn_c more_btn">{{ 'products.product.select_options' | t }}</a>
        {% endif %}
      </div>
    </form>
    {% elsif settings.show_collection_overlay and settings.collection_overlay == 'quick-view' %}
    <div class="overlay hidden-sm hidden-xs">
      {% include 'product-quick-view-btn' qvp:item %}
    </div>
    {% endif %}
    <div class="desc">
      <h5><a href="{{ item.url }}">{{ item.title | escape }}</a></h5>
      {% if settings.show_grid_type %}
      <p>{{ item.type }}</p>
      {% endif %}
      <div class="price card-price">
        {% unless item.price_max == 0 and settings.custom_price0_text != blank %}
        {% if item.price_varies %}{{ 'products.product.price_from' | t }}{% endif %} {{ item.price | money }}
        {% if on_sale %}<span class="compare-price">{{ item.compare_at_price | money }}</span>{% endif %}
        {% else %}
        <span>{{settings.custom_price0_text }}</span>
        {% endunless %}
      </div>
    </div>
    {% else %}

    <div class="desc">
      <h5><a href="{{ item.url }}">{{ item.title | escape }}</a></h5>
      <p>{{ item.content | strip_html | truncatewords:50 }}</p>
      <!--        <p><a href="{{ item.url }}" class="btn_c">{{ 'blogs.article.read_more' | t }}</a></p> -->
    </div>


    {% endif %}
  </div>
</div>
{% if settings.show_collection_overlay and settings.collection_overlay == 'quick-view' %}
{% include 'product-quick-view' qvp:item %}
{% endif %}