<div class="cartRewardsProgram">
  {% for i in (1..10) %}
    {% assign level_key = "level_" | append: i %}
    {% assign level_class = "level-" | append: i %}

    {% if shop.metafields.custom_fields[level_key] != blank %}
      {% assign product_refs = shop.metafields.custom_fields[level_key] | split: "|" %}
      <div class="bonus-tiered-container {{level_class}} hidden">
        <div class="bonus-tiered-heading">
          <div>You've earned: </div>
          <div class="current-level"><i class="fas fa-gift"></i> Level {{ i }} Rewards</div>
        </div>
        <div class="bonus-tiered-products">
          {% for product_handle in product_refs %}
            <div class="bonus-tiered-product">
              {% assign product_ref = all_products[product_handle] %}
              <div class="product-image-container">
                <a href="{{ product_ref.url }}" class="product-image-link">
                  <img src="{{ product_ref | img_url: '300x' }}"  alt="{{ product_ref.title | escape }}" />
                </a>
              </div>
              <div class="bonus-tiered-title">{{ product_ref.title | link_to: product_ref.url }}</div>
              <p><span class="original-price">{{ product_ref.price | money }}</span> FREE</p>
            </div>
          {% endfor %}
        </div>
      </div>
    {% endif %}

  {% endfor %}

  <p class="bonus-tiered-mtv"></p>

  <div id="cartrewardsProgress" class="hidden"> 
    <div id="cartrewardsBar"></div>
  </div>

</div>