{% assign featured_image = product.selected_or_first_available_variant.featured_image | default: product.featured_image %}

<div data-featured="{{featured_image.id}}" data-image="{{image.id}}">

  {% if product.images.size == 0 %}
  <img src="{{ '' | product_img_url: '1024x' }}" alt="Product Image">
  {% else %}

  <div id="image-block" data-zoom="{% if section.settings.show_product_zoom %}disabled{% else %}enabled{% endif %}">
    <noscript>
      <img alt="{{ product.title | escape }}" src="{{ product.featured_image | img_url: '700x' }}"
        srcset="{{ product.featured_image | img_url: '700x' }} 1x, {{ product.featured_image | img_url: '700x', scale: 2 }} 2x, {{ product.featured_image | img_url: '700x', scale: 3 }} 3x" />
    </noscript>
    <div class="product_gallery {% if product-images == blank %}product_images{% endif %}"
      id="product-{{ product.id }}-gallery">


      {% assign videoCount = 0 %}
      {% assign imageCount = 0 %}
      {% assign thumbnailItems = '' %}
      {% assign icon = "<i class='fas fa-play'></i>" %}
      {% assign playVideo = "<div class='video-text'>Play Video</div>" %}

      {% for media in product.media %}
        {% assign thumbnail = media | img_url: '150x' %}
        {% assign thumbnailFor = media.id %}
        
        {% case media.media_type %}
          {% when 'image' %}
          {% assign imageCount = imageCount | plus:1 %}
          {% assign thumbnailItems = thumbnailItems | append:"<li><img src=" | append: thumbnail | append: " data-id-for="| append: thumbnailFor | append:"></li>" %}

          {% when 'external_video' %}
          {% assign videoCount = videoCount | plus:1 %}
          {% assign thumbnailItems = thumbnailItems | append:"<li>" | append: icon | append: "<img src=" | append: thumbnail | append: " data-id-for="| append: thumbnailFor | append:">" | append: playVideo | append: "</li>" %}

          {% when 'video' %}
          {% assign videoCount = videoCount | plus:1 %}
          {% assign thumbnailItems = thumbnailItems | append:"<li>" | append: icon | append: "<img src=" | append: thumbnail | append: " data-id-for="| append: thumbnailFor | append:">" | append: playVideo | append: "</li>" %}
        {% endcase %}
      {% endfor %}

      {% if videoCount > 1 or imageCount > 1 or videoCount == 1 and imageCount == 1 %}
        <ul class="product_nav" data-video-count="{{ videoCount }}" data-image-count= "{{ imageCount }}">
          {{ thumbnailItems }}
        </ul>
      {% endif %}

      <ul class="product_slides">
        
        {% for media in product.media %}
        {% if media.media_type == 'external_video' %}
        <li data-thumb="{{ media | img_url: '150x' }}" data-title="{{ product.title | escape }}" class="video_slide">
        {% assign video = media.alt | split: 'src="' %}
        {% assign video = video[1] | split: '"' | first %}

        <div class="video-container {% if media.alt contains 'vimeo' %}vimeo{% else %}youtube{% endif %}">
          <div class="media" data-media-id="{{ media.id }}">{{ media | external_video_tag: id: "player" }}</div>
        </div>

        </li>
        {% endif %}

        {% if media.media_type == 'video' %}
        <li data-thumb="{{ media | img_url: '150x' }}" data-title="{{ product.title | escape }}" class="video_slide">
          <div class="video-container">
            <div class="media" data-media-id="{{ media.id }}">{{ media | video_tag: controls: true  }}</div>
          </div>
        </li>
        {% endif %}

        {% if media.media_type == 'image' %}

        <li data-thumb="{{ media | product_img_url: '150x' }}"
          {% if media.alt contains 'youtube' or media.alt contains 'vimeo' %}data-title="{{ product.title | escape }}"
          class="video_slide" {% else %}data-title="{{ media.alt | escape }}" {% endif %}>
          {% if media.alt contains 'youtube' or media.alt contains 'vimeo' %}
          {% assign video = media.alt | split: 'src="' %}
          {% assign video = video[1] | split: '"' | first %}

          {% if video contains '?' %}
          {% assign video = video | append: '&amp;autoplay=1' %}
          {% else %}
          {% assign video = video | append: '?autoplay=1' %}
          {% endif %}

          <div class="video-container {% if media.alt contains 'vimeo' %}vimeo{% else %}youtube{% endif %}">
            <div>
              <a href="{{ video | strip_html | replace: '/embed/', '/watch?v=' | remove: '?feature=player_detailpage&amp;autoplay=1' }}"
                title="{{ product.title | escape }}" class="mfp-iframe">
                {{ media.alt }}
              </a>
            </div>
          </div>
          {% else %}

          {%- assign img_url = media | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
          <a class="slide-image-link" 
            href="{{ media | product_img_url: '1400x' }}" 
            title="{{ media.alt | escape }}" 
            target="_blank" rel="noopener noreferrer">
            <img src="{{ media | img_url: '300x' }}" 
              alt="{{ media.alt | escape }}" 
              data-index="{{ forloop.index0 }}"
              data-media-id="{{ media.id }}"
              class="{% if featured_image.id == media.id %}featured_image lazypreload{% endif %} media"
              data-src="{{ img_url }}" data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]"
              data-aspectratio="{{ media.aspect_ratio }}" 
              data-sizes="auto"
              sizes="0" />
          </a>
          {% endif %}
        </li>
        {% endif %}
        {% endfor %}
      </ul>
    </div>

    {% if section.settings.product_additional_img == "carousel" %}
    <div id="carousel" class="flexslider">
      <ul class="slides">
        {% for image in product.images %}
        <li data-image-id="{{ image.id }}">
          <img src="{{ image | product_img_url: '150x' }}" />
        </li>
        {% endfor %}
      </ul>
    </div>
    {% endif %}

  </div>
  {% endif %}
</div>