
<div class="herobanner">
  <div class="herobanner-container">
    <div class="herobanner-title">
      <div class="herobanner-title-item">
        <div class="herobanner-title-before">{{ section.settings.text }}</div>
      </div>
      <div class="herobanner-title-item">
        <h1 class="herobanner-title-heading">{{ section.settings.heading }} </h1>
      </div>
    </div>
    <p class="herobanner-subtitle"> {{ section.settings.subtitle }} </p>
    {% for block in section.blocks %}
    <div class="herobanner-button">
      <a href="{{ block.settings.link }}" style="color: {{ block.settings.color }}; background-color: {{ block.settings.background_color }};">{{ block.settings.linktext }}</a>
    </div>
    {% endfor %}
  </div>
</div>
<style>
  #shopify-section-{{section.id}}
  {% if section.settings.image %}
    .herobanner {
      background-image: url({{ section.settings.image |img_url: 'master' }});
    }
  {% endif %}
</style>
{% schema %}
{
  "name": "Hero Banner",
  "max_blocks": 2,
  "settings": [
    {
      "id": "heading",
      "type": "text",
      "label": "Heading",
      "default": "Heading goes here"
    },
    {
      "id": "subtitle",
      "type": "text",
      "label": "Subtitle",
      "default": "Subtitle goes here"
    },
    {
      "id": "text",
      "type": "text",
      "label": "Heading Prefix",
      "default": "Heading Prefix"
    },
    {
      "id": "image",
      "type": "image_picker",
      "label": "Hero Banner Image"
    }
  ],
  "blocks": [
    {
      "type": "select",
      "name": "CTA Button",
      "settings": [
        {
          "id": "link",
          "type": "url",
          "label": "Button link"
        },
        {
          "id": "linktext",
          "type": "text",
          "label": "Button text",
          "default": "Click here"
        },
        {
          "type": "color",
          "id": "color",
          "label": "Text color",
          "default": "#16142c"
        },
        {
          "type": "color",
          "id": "background_color",
          "label": "Background color",
          "default": "#3cc0df"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Hero Banner",
      "category": "Image"
    }
  ]
}
{% endschema %}
{% stylesheet 'scss' %}
.herobanner {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: -30px auto 30px;
  .herobanner-container {
    display: inline-block;
    padding: 25px 3.4375em 25px;
    margin: 6em 7%;
    background-color: #16142cbb;
    font-weight: 800;
    font-size: 16px;
    text-transform: uppercase;
    @media (max-width: 740px) {
      font-size: 14px;
    }
    @media (max-width: 660px) {
      font-size: 12px;
    }
    @media (max-width: 570px) {
      font-size: 10px;
    }
    @media (max-width: 480px) {
      font-size: 8px;
    }
    @media (max-width: 390px) {
      font-size: 6px;
    }
    @media (max-width: 300px) {
      font-size: 4px;
    }
  }
  .herobanner-title-item {
    display: inline-block;
    vertical-align: middle;
    line-height: 1;
  }
  .herobanner-title-before {
    display: table-caption;
    color: #ffffff;
    font-size: 2.5em;
    font-weight: 600;
    padding-right: 10px;
  }
  .herobanner-title-heading {
    display: inline-block;
    color: #fbda57;
    font-size: 6em;
    text-shadow: 2px 2px 3px #16142c;
  }
  .herobanner-subtitle {
    color: #ffffff;
    font-size: 2.875em;
    line-height: 0.65;
  }
  .herobanner-text {
    color: #ffffff;
  }
  .herobanner-button {
    display: flex;
    flex-wrap: wrap;
    font-size: 1.4em;
    a {
      border: 1px solid #3dbfde;
      padding: 0.5em 2em;
      margin: 2.1em 0.8em 1em 0;
      font-weight: 700;
      text-align: center;
      transition: all 0.3s;
    }
  }
}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}