{% if template == 'cart' %}

<div class="header_top cartPageHeader">
  <div class="container">
    <div class="quickSecureMessage">
      <p>QUICK & SECURE CHECKOUT</p>
    </div>
    <div class="top_menu hidden-ms hidden-xs">
      {% if section.settings.logo != blank %}
      <a class="navbar-brand" href="/" style="max-width:{{section.settings.logo_max_width | plus: 15  | append: "px"}}">
        <img src="{{ section.settings.logo | img_url: logo_scale_width }}" 
             alt="{% if  section.settings.logo.alt != blank %} {{ section.settings.logo.alt}} {% else %}{{ shop.name }} {%endif %}"               
             class="img-responsive"  />
      </a>
      {% else %}
        <a class="navbar-brand text-logo" href="/">{{ shop.name }}</a>
      {% endif %}
    </div>
    <div class="hed_right">
      <div class="header-contact">
        <ul>
          <li><a href="tel:{{ section.settings.header_phone | escape }}">{{ section.settings.header_phone | escape }}</a></li>
          <li><a href="#"><i class="fa fa-user"></i></a></li>
          <li><a href="javascript:void(0);" data-href="/cart" class=" navbar-cart cart-popup"><div class="cart-icon"><span class="count{% if cart.item_count < 1 %} hidden{% endif %}">{{ cart.item_count }}</span><i class="fa fa-shopping-cart"></i></div></a>
            <div class="dropdown-grid-wrapper hidden">
              <div class="dropdown-menu no-padding col-xs-12 col-sm-9 col-md-7" role="menu">
                {% include 'menu-cart' %}
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>


{% else %}

<div class="header_top">
  <div class="container">
    <div class="top_menu hidden-ms hidden-xs">
      {% if section.settings.logo != blank %}
      <a class="navbar-brand" href="/" style="max-width:{{section.settings.logo_max_width | plus: 15  | append: "px"}}">
        <img src="{{ section.settings.logo | img_url: logo_scale_width }}" 
             alt="{% if  section.settings.logo.alt != blank %} {{ section.settings.logo.alt}} {% else %}{{ shop.name }} {%endif %}"               
             class="img-responsive"  />
      </a>
      {% else %}
        <a class="navbar-brand text-logo" href="/">{{ shop.name }}</a>
      {% endif %}
    </div>
    <div class="headerSearchDesktop">
      <div class="fixed-search">    
        {% include 'menu-search' %}
      </div>
    </div>
    <div class="hed_right">
      <div class="quickLinks">
        <ul>
          <li><a href="/pages/shipping-faq-online-orders">FAQs</a></li>
          <li><a href="{{ section.settings.header_link1 | escape }}">{{ section.settings.header_link1_text | escape }}</a></li>
          <li><a href="{{ section.settings.header_link2 | escape }}">{{ section.settings.header_link2_text | escape }}</a></li>
          <li><a href="{{ section.settings.header_link3 | escape }}">{{ section.settings.header_link3_text | escape }}</a></li>
        </ul>
      </div>
      <div class="header-contact">
        <ul>
          <li><a href="tel:{{ section.settings.header_phone | escape }}">{{ section.settings.header_phone | escape }}</a></li>
          <li><a href="{{ section.settings.header_location | escape }}"><i class="fa fa-map-marker"></i></a></li>
          <li><a href="#"><i class="fa fa-user"></i></a></li>
          <li><a href="javascript:void(0);" data-href="/cart" class=" navbar-cart cart-popup"><div class="cart-icon"><span class="count{% if cart.item_count < 1 %} hidden{% endif %}">{{ cart.item_count }}</span><i class="fa fa-shopping-cart"></i></div></a>
          <div class="dropdown-grid-wrapper hidden">
            <div class="dropdown-menu no-padding col-xs-12 col-sm-9 col-md-7" role="menu">
              {% include 'menu-cart' %}
            </div>
          </div>
        </li>
        </ul>
      </div>
    </div>
  </div>
</div>

{% endif %}