<div id="content" class="catSecPageContainer">
  <div class="container">
    {% include 'breadcrumb' %}
      <div class="catSecPage">

        <h1>{{ collection.title }} </h1>

        <p class="catDescription">{{collection.description}}</p>
        <div class="collectionsContainer">
          {% assign collection_handle = “collection-” | append: collection.handle %}
          <ul>
            {% for link in linklists[collection_handle].links %}
            {% assign sub_collection = link.object %}
            <li class="collectionWrapper">
              <img src="{{ link.object.image | img_url: "medium"  }}"><br/>
              <a href="{{ link.url }}">{{ link.title }}</a>
            </li>
            {% endfor %}
          </ul>
        </div>
      </div>
  </div>
</div>