<div class="shopify-section" data-section-id="{{ section.id }}" data-section-type="collection-featured-bundle-section">
  
  {% if section.settings.enable_featured_bundle %}
    {% if section.settings.featured_bundle %}

      {% assign collection_link = collection.url %}
      {% assign product = all_products[section.settings.featured_bundle] %}
      {% assign productDescriptionContent = product.description %}	
    {% assign productDescriptionContent = product.description %}	
      {% assign productDescriptionContent = product.description %}	
      {% assign descriptionParts = product.description | split: "<!-- split -->" %}
      {% if descriptionParts.size > 1%}
        {% assign descriptionFirstPart = descriptionParts | first %}
        {% assign descriptionSecondPart = descriptionParts | last %}
      {% endif %}
    
      <div id="featuredProduct" data-section-id="{{ section.id }}" data-featured-bundle="true" data-reviews-stars="{% if section.settings.product_reviews or section.settings.show_product_reviews_stars %}true{% else %}false{% endif%}">
        <h2 class="section-title"><i class="fas fa-star"></i> Featured Bundle</h2>
        <div class="product-json">{{ product | json }}</div> 
        <input id="product-handle" type="hidden" value="{{product.handle}}"/> <!--  using for JS -->

        <div class="featured-product-wrapper">

          {% if product.selected_or_first_available_variant.available %}
          <link href="http://schema.org/InStock" />
          {% else %}
          <link href="http://schema.org/OutOfStock" />
          {% endif %}

          {% unless product == empty %}
          {% form 'product', product %}
            <div class="product-container swatch-product-id-{{product.id}}">
              <div class="product-gallery-container">
                {% include 'product-gallery' %}
              </div>
              <div class="product-details">
                  
                <div class="product-title-inventory">
                  <h3><a href="{{ product.url }}">{{ product.title | escape }}</a></h3>
                  <div class="prod_sku_container">
                    {% if section.settings.show_product_sku or section.settings.show_product_vendor or section.settings.show_product_quantity  %}
                    <div class="prod_sku_vend">
                      {% if section.settings.show_product_vendor %}
                      <div class="product-vendor">{{'products.general.product_vendor' | t }}: {{ product.vendor | link_to_vendor }}</div>
                      {% endif %}
                  
                      {% if section.settings.show_product_quantity %}
                      <div id="variant-inventory">
                      </div>
                      {% endif %}
                    </div>
                    {% endif %}
                  
                    {% if section.settings.product_reviews %}
                    <div class="shopify-product-reviews">
                      {{product.reviews_count}}
                      <span class="shopify-product-reviews-badge" data-id="{{ product.id }}"></span>
                    </div>
                    {% endif %}
                  </div>
                </div>

                <div class="product-price-qty">
                  <div class="price{% if section.settings.show_smart_checkout %} smart_checkout_price_pos {% endif %}">
                    {% if product.selected_or_first_available_variant.price < product.selected_or_first_available_variant.compare_at_price %}
                    <div id="comparePrice" class="money">
                      {{ product.selected_or_first_available_variant.compare_at_price | money }}
                    </div>
                    {% endif %}
    
                    {% unless product.price_max == 0 and settings.custom_price0_text != blank %} 
                      <span id="productPrice"  class="money">
                        {{ product.selected_or_first_available_variant.price | money }} 
                      </span> 
                    {% else %}  
                    <span>
                      {{settings.custom_price0_text }}
                    </span>                    
                    {% endunless %}
                    
                    <div class="price-wholesale">
                    </div>
                  </div>
                  <div class="qty product-page-qty">
                    {% unless product.price_max == 0 and settings.hide_price0_box_and_button %} <span class="productPGQtyLable">Quantity</span><a class="minus_btn" ></a>
                      <input type="text" id="quantity" name="quantity" class="txtbox" value="1" min="1">
                      <a class="plus_btn" ></a>
                    {% endunless %}
                    <div class="maximum-in-stock-error error-popup">{{ 'products.product.maximum_quantity_error' | t }}</div>
                  </div>
                </div>
              </div>
    
              <div class="product-description">
                {% if descriptionSecondPart != blank %}
                <div class="description-first-part">
                  {{ descriptionFirstPart }}
                </div>
                {% endif %}
              
                {% if section.settings.enable_description_enhancements%}
                  {% if descriptionSecondPart != blank %}
                    <div class="main-product-description-{{ section.id }}" >	 
                      {% if product.description contains '<!-- TABS -->' %}
                        {{ descriptionSecondPart | split: "<!-- TABS -->"| first}}
                      {% else %} 
                        {{ descriptionSecondPart }}
                      {% endif %}
                    </div>
                  {% else %}
                    <div class="main-product-description-{{ section.id }}" >	 
                      {% if product.description contains '<!-- TABS -->' %}
                        {{ product.description | split: "<!-- TABS -->"| first}}
                      {% else %} 
                        {{ product.description }}
                      {% endif %}
                    </div>
                  {% endif %} 
                {% else %}
                  {% if descriptionSecondPart != blank %}
                  <div class="main-product-description-{{ section.id }}" >	 
                      {{ descriptionSecondPart | remove: "<!-- TABS -->" | remove: "<!-- /TABS -->" }}
                    </div>
                  {% else %}
                    <div class="main-product-description-{{ section.id }}" >
                      
                    <!-- Product's metafield data -->
                    {% if product.metafields.details.effect %}
                      <div><span class="data-title">Effect:</span> {{ product.metafields.details.effect }}</div>
                    {% endif %}
                    {% if product.metafields.details.duration %}
                      <div><span class="data-title">Duration:</span> {{ product.metafields.details.duration }} seconds</div>
                    {% endif %}
                    {% if product.metafields.details.height %}
                      <div><span class="data-title">Height:</span> {{ product.metafields.details.height }} meters</div>
                    {% endif %}
                    {% if product.metafields.details.shots %}
                      <div><span class="data-title">Shots:</span> {{ product.metafields.details.shots }}</div>
                    {% endif %}
                    {% if product.metafields.details.noise %}
                      <div><span class="data-title">Noise:</span> {{ product.metafields.details.noise }}</div>
                    {% endif %}
                    {% if product.metafields.details.color %}
                      <div class="data-case-capitalize"><span class="data-title">Color:</span> 
                        {% for value in product.metafields.details.color %}
                          {% if forloop.last == true %}
                            {{ value }}
                          {% else %}
                            {{ value }}, 
                          {% endif %}
                        {% endfor %}
                      </div>
                    {% endif %}

                    {{ product.description | remove: "<!-- TABS -->" | remove: "<!-- /TABS -->" }}
                    </div>
                  {% endif %}
                {% endif %}

                <div class="variations">
                  <div class="row">
                    <div class="col-sm-12">
                      {% unless product.options.size == 1 and product.variants[0].title contains 'Default' %}
                      {% for option in product.options_with_values %}
                      <div class="selector-wrapper main-product-select">
                      
                        <label {% if option.name == 'default' %}class="hidden" {% endif %} for="product-select-{{ option.name }}">
                          {{ option.name }}
                        </label>
                        <select class="single-option-selector" id="SingleOptionSelector-{{ forloop.index0 }}">
                          {% for value in option.values %}
                            <option {% if option.selected_value == value %}selected{% endif %}>{{value}}</option>
                          {% endfor %}
                        </select>
                        
                        </div>  
                      {% endfor %}
                      {% endunless %}
                      
                      <select name="id" id="product-select-{{ product.id }}" class="product-variants form-control hidden">
                        {% for variant in product.variants %}
                        {% if variant.available %}
                        <option 
                                {% if section.settings.show_product_quantity %} 
                                data-inventory_management="{{variant.inventory_management}}" 
                                data-inventory_policy="{{variant.inventory_policy}}"
                                data-inventory_quantity="{{variant.inventory_quantity}}"
                                {% endif %}       
                                {% if variant == product.selected_or_first_available_variant %} selected="selected" {% endif %} data-sku="{{ variant.sku }}" value="{{ variant.id }}">{{ variant.title | escape }} - {{ variant.price | money_with_currency }}</option>
                        {% else %}
                        <option 
                                {% if section.settings.show_product_quantity %} 
                                data-inventory_management="{{variant.inventory_management}}" 
                                data-inventory_policy="{{variant.inventory_policy}}"
                                data-inventory_quantity="{{variant.inventory_quantity}}"
                                {% endif %}                           
                                disabled="disabled"
                                value="{{ variant.id }}">
                          
                          {{ variant.title | escape }} - {{ 'products.product.sold_out' | t }}
                        </option>
                        {% endif %}
                        {% endfor %}
                      </select>
                      
                      {% if product.variants.size > 1 %}
                        {% for option in product.options %}
                          {% include 'swatch' with option %}
                        {% endfor %}
                      {% endif %}
                    </div>
                  </div>
                </div>

                {% if section.settings.show_product_tags%}
                <!-- product tags -->
                  {% if product.tags.size > 0 %}
                    <div class="tag_c clearfix product_tags">
                      {% if product.tags.size > 0 %}
                      <ul>
                        <li>
                          <span><b><span class="fa fa-tags"></span>{{'products.general.product_tags' | t}} :</b></span>
                          {% for tag in product.tags %}
                          <a class = "tag" href="/collections/all/{{ tag | handleize }}">{{ tag }}</a>
                          {% endfor %}
                        </li>
                      </ul>
                      {% endif %}
                    </div>
                  {% endif%}
                  <!-- end product tags -->
                {% endif %}

                <div class="desc_blk_bot product-summary-container">
                    
                  <div class="product-wholesale-discount">
                    <div class="motivational-message"></div>
                    <noscript type="text/flag" class="tdfPlaceWholesale"></noscript>
                  </div>
                  {% unless product.price_max == 0 and settings.hide_price0_box_and_button %} 
                    {% if section.settings.show_smart_checkout%}
                      <div class="product_payments_btns">
                        <input type="submit" name="add" class="btn_c" id="addToCart" value="{{ 'products.product.add_to_cart' | t }}">
                        {{ form | payment_button }}
                      </div>
                    {% else %}
                      <div class="product_payment_btn">
                        <input type="submit" name="add" class="btn_c" id="addToCart" value="{{ 'products.product.add_to_cart' | t }}">
                      </div>
                    {% endif %}
                  {% endunless %}
                </div>
              </div>
                    
            </div>
          {% endform %}
          {% else %}
          <!-- product is empty -->
            <form class="form-add-to-cart form-horizontal" action="/cart/add" method="post" enctype="multipart/form-data" id="addToCartForm">
              <div class="product-container">
                <div class="product-gallery-container">
                  <div class="slider_1">
                    {{ "product-1" | placeholder_svg_tag: 'product-svg-image-placeholder' }}
                  </div>
                </div>
                <div class="product-details">
                  <div class="product-title-inventory">
                    <h1>{{ 'homepage.onboarding.product_title' | t }}</h1>
                  </div>

                  <div class="product-price-qty">
                    <div class="price">
                      <span id="productPrice" class="money">                                           
                        {{ 'homepage.onboarding.product_price' | t }}
                      </span>                                       
                    </div>
                    <div class="qty product-page-qty">
                      {% unless product.price_max == 0 and settings.hide_price0_box_and_button %} <span class="productPGQtyLable">Quantity</span><a class="minus_btn" ></a>
                        <input type="text" id="quantity" name="quantity" class="txtbox" value="1" min="1">
                        <a class="plus_btn" ></a>
                      {% endunless %}
                    </div>
                  </div>

                  <div class="product-sku-share">
                    <div class="share">
                      <div class="share-button"><i class="fas fa-share-alt"></i></div>
                      <div class="social-sharing">
                        <ul>
                          {% include 'social-sharing' %}
                        </ul>
                      </div>
                    </div>
                    <div class="product-sku">
                      {% if section.settings.show_product_sku %}
                      <div class="variant-sku">{{'products.general.product_sku' | t }}: {{ product.variants[0].sku }}</div>
                      {% endif %}
                    </div>
                  </div>
                </div>


                <div class="product-description">
                  {{ 'products.general.description' | t }}
                  <div class="desc_blk_bot product-summary-container">
                    <div class="product_payment_btn">
                      <input type="submit" name="add" class="btn_c disabled" disabled="disabled" id="addToCart" value="{{ 'products.product.sold_out' | t }}">         
                    </div>           
                  </div>
  
                  <div class="review_row clearfix">
                    {% if section.settings.product_reviews %}
                    <span class="shopify-product-reviews-badge" data-id="{{ product.id }}"></span>
                    {% endif %}
                  </div>
                </div> 
              </div>

            </form>
          {% endunless %}
        </div>
      </div>
    
    {% endif %}
  {% endif %}



</div>

{% schema %}
{
  "name": "Featured Bundle",
  "settings": [
    {
      "type": "header",
      "content": "Featured Bundle"
    },
    {
      "type": "checkbox",
      "id": "enable_featured_bundle",
      "label": "Enable Featured Bundle"
    },
    {
      "type": "product",
      "id": "featured_bundle",
      "label": "Product"
    }
  ]
}
{% endschema %}