<div id="content">
  <div class="custom-container free-fireworks">
    <div class="custom-title container-narrow">
      <h1>{{ page.title | escape }}</h1>
    </div>
    <div class="page_content">
      <div class="row">
        <div class="{% if section.settings.page_link_list != blank or section.settings.show_sidebar_page_collections or section.settings.show_page_sidebar_sale %}col-md-9 col-md-push-3 col-sm-8 col-sm-push-4{% else %}col-sm-12{% endif %}">
          {% include 'page-banner' with page.custom_fields %}
          <div class="container-narrow">
            <div class="deal-container">
              
            {% if shop.metafields.custom_fields["level_1"] != blank %}
              <div class="bonus-tiered">
                <div class="bonus-tiered-heading">
                  <h3 class="bonus-tiered-title">Level 1 Rewards</h3>
                  <p class="bonus-tiered-subtitle">Order over $150 and get...</p>
                </div>
                <div class="bonus-tiered-products">
                  {% assign product_refs = shop.metafields.custom_fields["level_1"] | split: "|" %}
                  {% for product_handle in product_refs %}
                    {% assign product_ref = all_products[product_handle] %}
                    <div class="bonus-tiered-product">
                      <a href="{{ product_ref.url }}" class="product-image-link">
                        <img src="{{ product_ref | img_url: '300x' }}"  alt="{{ product_ref.title | escape }}" />
                      </a>
                      <h4>
                        {{ product_ref.title | link_to: product_ref.url}}
                      </h4>
                      <p><span class="original-price">{{ product_ref.price | money }}</span> FREE</p>
                    </div>
                  {% endfor %}
                </div>
              </div>
            {% endif %}

            </div>
          </div>
          
          {{ page.content }}

        </div>
        {% if section.settings.page_link_list != blank or section.settings.show_sidebar_page_collections or section.settings.show_page_sidebar_sale %}
          {% include 'sidebar-page' %}
        {% endif %}
      </div>
    </div>
  </div>
  {% include 'attraction-panel' with shop.custom_fields %}
</div>
{% schema %}
  {
    "name": "Page",
    "settings": [
      {
        "type": "header",
        "content": "Sidebar options"
      },
      {
        "type": "link_list",
        "id": "page_link_list",
        "label": "Choose custom menu",
      	"info": "This menu won't show dropdown items"
      },
      {
        "type": "checkbox",
        "id": "show_sidebar_page_collections",
        "label": "Enable collections"
      },
      {
        "type": "checkbox",
        "id": "show_page_sidebar_sale",
        "label": "Enable products"
      },
      {
        "type": "collection",
        "id": "sidebar_page_sale_collection",
        "label": "Choose collection"
      },
      {
        "type": "range",
        "id": "sidebar_page_product_count",
        "label": "Number of products",
        "min":       1,
        "max":        6,
        "step":       1,
        "default": 4
      }
    ]
  }
{% endschema %}